<!--<div class="collection-header">
  <h5> <i class="material-icons">mode_edit</i> <b>แบบฟอร์มเบิกจ่าย </b></h5>
</div>-->
<div class="row">
  <div class="col s12 m12 l12">
    <div class="card">
      <div class="row">
        <div class="container">
          <br />
          <form (ngSubmit)="save();">
            <fieldset class="ipb2">
              <div class="row">
                <div class="col s12 m12 l12">
                  <label class="pbz"> วันที่เบิกจ่าย</label>
                  <input class="pbz" [(ngModel)]="model.datestockout" name="datestockout" id="datestockout" type="date">
                </div>
              </div>
              <div class="row">
                <div class="col s12 m1 l1">
                  <label class="pbz"> รหัส</label>
                  <input class="pbz" [(ngModel)]="model.mid" name="mid" id="mid" type="text" disabled>
                </div>
                <div class="col s12 m5 l5">
                  <label class="pbz"> รหัสวัสดุ</label>
                  <input class="pbz" [(ngModel)]="model.mcode" name="mcode" id="mcode" type="text" disabled>
                </div>
                <div class="col s12 m6 l6">
                  <label class="pbz"> ชื่อวัสดุ</label>
                  <input class="pbz" [(ngModel)]="model.mname" name="mname" id="mname" type="text" disabled>
                </div>
              </div>
            </fieldset>
            <div class="row">
              <div class="col s12 m8 l8">
                <label class="pbz"> เลือกรายการ Lot **</label>
                <!--<input class="pbz" [(ngModel)]="model.lotnumber" name="lotnumber" id="lotnumber" type="text" disabled>-->
                <select class="browser-default" [(ngModel)]="model.lotnumber" name="lotnumber" id="lotnumber" (change)="getoutin($event)">
                                <option [value]="0" disabled selected>ตัวเลือก</option>
                                <option *ngFor="let item of models1;let i=index" [value]="item.lotid">{{i+1}} - {{item.supname}} :: จำนวนคงเหลือ {{item.numnow}} {{item.munit}} :: expire {{item.expire}}</option>
                            </select>
              </div>
              <div class="col s12 m4 l4">
                <label class="pbz"> ผู้เบิก **</label>
                <select class="browser-default" [(ngModel)]="model.receiver" name="receiver" id="receiver">
                                <option [value]="0" disabled selected>ตัวเลือก</option>
                                <option *ngFor="let item of models" [value]="item.rcid">{{item.rcname}}</option>
                            </select>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m6 l6">
                <label class="pbz"> จำนวนเบิกจ่าย ** เบิกได้ : {{numnow}} <span class="badge yellow" (click)="getmn()" pTooltip="คลิกเบิกทั้งหมด" tooltipPosition="top">เบิกทั้งหมด</span></label>
                <input class="pbz" [(ngModel)]="model.numstockout" id="numstockout" name="numstockout" type="number" (change)="doCheckNum()">
              </div>
              <div class="col s12 m3 l3">
                <label class="pbz"> ราคาต่อหน่วย</label>
                <input class="pbz ipb2" [(ngModel)]="model.pricen" name="pricen" id="pricen" type="number" step="0.01" type="number" disabled>
              </div>
              <div class="col s12 m3 l3">
                <label class="pbz"> มูลคาเบิกจ่าย</label>
                <input class="pbz ipb2" [(ngModel)]="model.priceout" name="priceout" id="priceout" type="number" step="0.01" disabled>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m12 l12">
                <div class="col s12 center">
                  <button class="waves-effect waves-light btn"><i class="material-icons left">add</i> บันทึก</button>
                </div>
              </div>
            </div>
          </form>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>