<div class="collection-header">
  <h5> <i class="material-icons">add</i> <b>รายการรับเข้าใหม่ : {{showDate}}</b></h5>
</div>
<div class="row">
  <div class="col s12 m12 l12">
    <div class="card">
      <div class="row">
        <div class="container">
          <br />
          <p-dataTable [value]="models">
            <p-column header="ลำดับ" [sortable]="true" [style]="{'width':'60px','text-align':'center'}">
              <ng-template let-col let-rowData="rowData" let-rowIndex="rowIndex" pTemplate="body">
                {{rowIndex+1}}
              </ng-template>
            </p-column>
            <p-column field="datestockin" header="วันที่บันทึก"></p-column>
            <p-column field="numberid" header="เลขที่ใบเสร็จ"></p-column>
            <p-column field="mcode" header="รหัสวัสดุ"></p-column>
            <p-column field="mname" header="ชื่อวัสดุ"></p-column>
            <p-column field="numstockin" header="รับเข้า"></p-column>
            <p-column field="pricen" header="ราคา/หน่วย"></p-column>
            <p-column field="pricelot" header="มูลค่า"></p-column>
            <p-column field="expire" header="expire"></p-column>
            <p-column field="notelot" header="หมายเหตุ"></p-column>
            <p-column styleClass="col-button" header="แก้ไข" [style]="{'width':'60px','text-align':'center'}">
              <ng-template let-item="rowData" let-rowIndex="rowIndex" pTemplate="body">
                <a class="btn-floating btn-small teal" href="javascript:void(0)" pTooltip="แก้ไขข้อมูล" tooltipPosition="top" (click)="edit(item)"> <i class="material-icons">mode_edit</i></a>
              </ng-template>
            </p-column>
            <p-column styleClass="col-button" header="ลบข้อมูล" [style]="{'width':'60px','text-align':'center'}">
              <ng-template let-item="rowData" let-rowIndex="rowIndex" pTemplate="body">
                <a class="btn-floating btn-small red" href="javascript:void(0)" pTooltip="ลบข้อมูล" tooltipPosition="top" (click)="delete(item)"> <i class="material-icons">delete</i></a>
              </ng-template>
            </p-column>
          </p-dataTable>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>