<p-dataTable sortOrder="-1"  [value]="models" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[20,40,60,80,100]"
  [responsive]="true" sortField="catname" rowGroupMode="subheader" groupField="catname" [globalFilter]="gb">
  <ng-template pTemplate="rowgroupheader" let-rowData><i class="ace-icon fa fa-folder-open"></i> หมวดหมุ่ : {{rowData['catname']}}</ng-template>
  <p-column header="ลำดับ" [sortable]="true" [style]="{'width':'60px','text-align':'center'}">
    <ng-template let-col let-rowData="rowData" let-rowIndex="rowIndex" pTemplate="body">
      {{rowIndex+1}}
    </ng-template>
  </p-column>
  <!--<p-column field="mcode" header="รหัส"></p-column>-->
  <p-column field="mname" header="ชื่อวัสดุ"></p-column>
  <p-column field="munit" header="หน่วยนับ" [style]="{'width':'80px','text-align':'center'}"></p-column>
  <p-column field="numstockin" header="จำนวนรับเข้า" [style]="{'width':'60px','text-align':'center'}"></p-column>
  <p-column field="numstockout" header="จำนวนเบิกจ่าย" [style]="{'width':'60px','text-align':'center'}"></p-column>
  <p-column field="numnow" header="จำนวนคงคลัง" [style]="{'width':'60px','text-align':'center'}"></p-column>
  <p-column field="stck" header="สถานะวัสดุ" [style]="{'width':'110px','text-align':'center'}">
    <ng-template let-car="rowData" let-rowIndex="rowIndex" pTemplate="body">
      <span class="badgesora red" *ngIf="car.numnow==0" pTooltip="คงเหลือขั้นต่ำ : {{car.nummin}} {{car.munit}}" tooltipPosition="top">หมด</span>
      <span class="badgesora yellow" *ngIf="car.numnow>0&&car.numnow<=car.nummin" pTooltip="คงเหลือขั้นต่ำ : {{car.nummin}} {{car.munit}}"
        tooltipPosition="top">ใกล้หมด</span>
      <span class="badgesora green" *ngIf="car.numnow>car.nummin" pTooltip="คงเหลือขั้นต่ำ : {{car.nummin}} {{car.munit}}" tooltipPosition="top">ปกติ</span>
    </ng-template>
  </p-column>
  <p-column styleClass="col-button" header="รายละเอียด" [style]="{'width':'60px','text-align':'center'}">
    <ng-template let-car="rowData" let-rowIndex="rowIndex" pTemplate="body">
      <a class="btn-floating btn-small purple" href="#modal1" pTooltip="รายละเอียด" tooltipPosition="top" (click)="getsearch(car)"> <i class="material-icons">search</i></a>
    </ng-template>
  </p-column>
  <!--<p-column styleClass="col-button" header="แก้ไขข้อมูล" [style]="{'width':'60px','text-align':'center'}">
    <ng-template let-car="rowData" let-rowIndex="rowIndex" pTemplate="body">
      <a class="btn-floating btn-small teal" href="javascript:void(0)" pTooltip="แก้ไขข้อมูล" tooltipPosition="top" (click)="edit(car)"> <i class="material-icons">mode_edit</i></a>
    </ng-template>
  </p-column>-->
  <!--<p-column styleClass="col-button" header="ลบข้อมูล" [style]="{'width':'60px','text-align':'center'}">
    <ng-template let-car="rowData" let-rowIndex="rowIndex" pTemplate="body">
      <a class="btn-floating btn-small red" href="javascript:void(0)" pTooltip="ลบข้อมูล" tooltipPosition="top" (click)="delete(car)"> <i class="material-icons">delete</i></a>
    </ng-template>
  </p-column>-->
</p-dataTable>
