@media screen and (max-width: 480px){
	#grid[data-columns]::before {
		content: '';
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	#grid[data-columns]::before {
		content: '';
	}
}
@media screen and (min-width: 769px) {
	#grid[data-columns]::before {
		content: '';
	}
}

/* Again, you’re free to use and define the classes: */
.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }


.modal{
    width: 70%;
    /*max-height: 1000px;*/
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}