<!--<div class="collection-header">
  <h5> <i class="material-icons">mode_edit</i> <b>แบบฟอร์มเบิกจ่าย </b></h5>
</div>-->
<div class="row">
  <div class="col s12 m12 l12">
    <div class="card">
      <div class="row">
        <div class="container">
          <br />
          <div class="collection-header">
            <h5> <i class="material-icons">view_list</i> <b>แสดงรายการรับเข้า :: {{showDate}}</b></h5>
          </div>
          <p-dataTable [value]="models" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,40,60,80,100]" sortField="datestockin"
            rowGroupMode="subheader" groupField="datestockin">
            <ng-template pTemplate="rowgroupheader" let-rowData><i class="fa fa-calendar" aria-hidden="true"></i> วันที่รับเข้า: {{rowData['datestockin']}}</ng-template>
            <!--<p-column header="ลำดับ" [sortable]="true" [style]="{'width':'60px','text-align':'center'}">
              <ng-template let-col let-rowData="rowData" let-rowIndex="rowIndex" pTemplate="body">
                {{rowIndex+1}}
              </ng-template>
            </p-column>-->
            <!--<p-column field="datestockin" header="วันที่บันทึก" [style]="{'width':'100px','text-align':'center'}"></p-column>-->
            <p-column field="numberid" header="เลขที่ใบเสร็จ" [sortable]="true" [style]="{'width':'120px','text-align':'center'}"></p-column>
            <p-column field="mcode" header="รหัสวัสดุ" [sortable]="true"></p-column>
            <p-column field="mname" header="ชื่อวัสดุ" [sortable]="true"></p-column>
            <p-column field="numstockin" header="รับเข้า" [sortable]="true" [style]="{'width':'80px','text-align':'center'}"></p-column>
            <p-column field="pricen" header="ราคา/หน่วย" [sortable]="true" [style]="{'width':'80px','text-align':'center'}"></p-column>
            <p-column field="pricelot" header="มูลค่า" [sortable]="true" [style]="{'width':'80px','text-align':'center'}"></p-column>
            <p-column field="expire" header="expire" [sortable]="true" [style]="{'width':'80px','text-align':'center'}"></p-column>
            <p-column field="notelot" header="หมายเหตุ" [sortable]="true" [style]="{'width':'120px','text-align':'center'}"></p-column>
            <p-column styleClass="col-button" header="แก้ไข" [style]="{'width':'60px','text-align':'center'}">
              <ng-template let-item="rowData" let-rowIndex="rowIndex" pTemplate="body">
                <a class="btn-floating btn-small teal" href="javascript:void(0)" pTooltip="แก้ไขข้อมูล" tooltipPosition="top" (click)="edit(item)"> <i class="material-icons">mode_edit</i></a>
              </ng-template>
            </p-column>
            <p-column styleClass="col-button" header="ลบข้อมูล" [style]="{'width':'60px','text-align':'center'}">
              <ng-template let-item="rowData" let-rowIndex="rowIndex" pTemplate="body">
                <a class="btn-floating btn-small red" href="javascript:void(0)" pTooltip="ลบข้อมูล" tooltipPosition="top" (click)="delete(item)"> <i class="material-icons">delete</i></a>
              </ng-template>
            </p-column>
          </p-dataTable>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>